body {
	background: #090B0B;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-left: 20rem;
	margin-right: 20rem;
	margin: auto;
	color: #fafafa;
	padding: 0;
}
.title {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 15rem;
	padding-right: 15rem;
}
.title h1 {
	font-weight: 400;
	font-size: 2.5rem;
}
.title h2 {
	font-size: 1.25rem;
	font-weight: 600;
}
label {
	display: block;
	margin: 1rem 0 0.5rem;
	font-weight: 400;
	font-size: 1.25rem;
}
.container {
	padding-left: 20rem;
	padding-right: 20rem;
}
input {
	width: 100%;
	padding: 0.75rem;
	border-radius: 4px;
	box-sizing: border-box;
	border-radius: 1rem;
	font-size: 1.125rem;
	background-color: #1a1a1a;
	color: #fafafa;
}
.btn {
	margin-top: 1.5rem;
	padding: 0.75rem;
	background-color: #64E273;
	color: white;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 1rem;
	transition: 0.5s;
	border-radius: 1rem;
	font-size: 1.125rem;
}
.btn:hover {
	background-color: #47A24C;
}
#result {
	margin-top: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
}
